<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <title>meltly</title>
  <link rel="stylesheet" type="text/css" href="semantic/semantic.css">
  <link rel="stylesheet" type="text/css" href="stylesheet/home.css">
  <script
  src="https://code.jquery.com/jquery-3.1.1.min.js"
  integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8="
  crossorigin="anonymous"></script>
  <script src="semantic/semantic.min.js"></script>
</head>

<body>
<% include ./Partials/header.ejs %>	

<div class="maintag">
	<img src="/images/cropped.png" alt="icon" class="center">
	<h1> FRIED ICE-CREAM ROLLS</h1>
</div>


</body>

</html>