<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <title>meltly</title>
  <link rel="stylesheet" type="text/css" href="semantic/semantic.css">
  <link rel="stylesheet" type="text/css" href="stylesheet/ourstory.css">
  <script
  src="https://code.jquery.com/jquery-3.1.1.min.js"
  integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8="
  crossorigin="anonymous"></script>
  <script src="semantic/semantic.min.js"></script>
  
</head>
<body>
<% include ./Partials/header.ejs %>	
<div class="row">
  <div class="column textarea">
<h2> Our Story</h2>
<p>
	With the hike in adulteration in preservatives foods products, Meltly was launched in 2016 with a mission to provide fresh,customized ,nutritious and unadulterated Ice-Cream rolls. Ice-Cream rolls are prepared live in front of the customers.
</p>	
  	
  </div>
  <div class="column caro">
  	<div id="stage">
<a href="images/c1.JPG"><img src="images/c1.JPG" width="360" height="270"></a>
<a href="images/c2.JPG"><img src="images/c2.JPG" width="360" height="270"></a>
<a href="images/c3.JPG"><img src="images/c3.JPG" width="360" height="270"></a>
<a href="images/c4.JPG"><img src="images/c4.JPG" width="360" height="270"></a>
</div>
  </div>
</div>
<script type="text/javascript" src ="javascript/ourstory.js" ></script>
</body>
</html>

